section.title {
    width: 100%;
    padding: 20px;
}
.title__div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column;
    gap: 30px;
}
.title__profile {
    height: 175px;
    padding-top: 25px;
}
.title__container {
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.title__bio{
    word-wrap: normal;
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 20px;
}
.title__subsection {
    font-size: 1.1rem;
    font-weight: 200;
    padding-bottom: 20px;
}
.title__network {
    display: flex;
    font-weight: bold;
    gap: 20px;
}
.title__network__item {
    font-size: 1rem;
    font-weight: 700;
}

@media (min-width: 1024px){
    section.title {
        width: 100%;
    }
}
.title__div {
    flex-wrap: wrap-reverse;
}