section.title {
    width: 100%;
    padding: 20px;
}

.title__div {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 20px;
}

.title__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title__profile {
    height: 98px;
    aspect-ratio: 1 / 1;
  }

  .title__bio {
    text-wrap: pretty;
    font-size: 2.2rem;
    font-weight: bold;
  }
  
  .title__subsection {
    text-wrap: pretty;
    font-size: 1.6rem;
    font-weight: 300;
  }
  
  .title__network {
    height: 16px;
    display: flex;
    font-weight: bold;
    gap: 16px;
    padding: 0;
    margin: 0;
  }
  
  .title__network__item {
    font-size: 1.2rem;
  }
  
  .title__network__item img {
    height: 100%;
  }

@media (min-width: 1024px) {
    section.title {
        width: 85%;
        margin: 0 auto;
        padding: 55px 0;
    }   
}

.title__div {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.title__profile {
    height: 360px;
}

.title__container {
    width: 75%;
  }

.title__bio {
    font-size: 3.2rem;
  }

  .title__subsection {
    font-size: 2.2rem;
  }

  .title__network__item a {
    padding: 4px 8px;
  }

  .title__network__item a:hover {
    background-color: var(--cor-de-btn);
    color: var(--cor-de-fundo);
    transition: all 500ms ease-in-out;
  }