section.tools {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.tools__title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 10px;
}
.tools__line {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 25px;
}
.tools__box {
    width: 45%;
    display: flex;
    align-items: flex-start;
    background-color: var(--cor-de-skillbox);
    border-radius: 7px;
    height: 120px;
    padding: 12px;
}
.tools__name {
    font-size: .9rem;
    font-weight: bold;
    margin-top: 14px;
}
@media (min-width: 1425px) {
    section.tools {
      width: 85%;
      margin: 0 auto;
      padding: 60px 0;
    }
    .tools__title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .tools__box {
        width: 10%;
        height: 170px;
    }

}